

<% if @user.errors.any? %>
<%= @user.errors.full_messages %><br>
<% end %>

<h1>Sign up free to use this site!</h1>

<%= form_for :user, url: "/signup" do |f| %>
Name: <%= f.text_field :name %><br>
Email: <%= f.text_field :email %><br>
Password: <%= f.password_field :password %><br>
Please confirm your password: <%= f.password_field :password_confirmation %><br></br>
<%= f.submit "Sign Up" %>

<% end %>