

<body class="users-new">
<h1 class="text-center title"><b class="apptracker">AppTracker</b>, the tool every developer should have!</h1>

<div id="welcome-div">
<h3 class="welcome">Welcome to AppTracker, the tool that helps you keep track of your application files from creation to deployment!</h3 >
</div>


<% if @user.errors.any? %>
<div class="alert alert-danger error" role="alert">
<%= @user.errors.full_messages.to_sentence %><br>
</div>
<% end %>


<div class="sign-up">
<h1 id="sign-uph1">Sign up free to use this site!</h1>



<%= form_for :user, url: "/signup" do |f| %>
<div class="form-group">
<%= f.text_field :name, class: 'form-control sign-form', placeholder: 'enter your name' %><br>
<%= f.text_field :email, class: 'form-control sign-form', placeholder: 'enter your email' %><br>
<%= f.password_field :password, class: 'form-control sign-form', placeholder: 'password' %><br>
<%= f.password_field :password_confirmation, class: 'form-control sign-form', placeholder: 'confirm your password' %><br></br>
<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
<p class="submit-signup">Sign Me Up!</p>
<% end %>

<% end %>
</div>
</div>
</body>