<body class="index-body">

	<div class="index-box">
		<h1 class="indexh1">My App Files</h1>


		<%= link_to "Add a new file", new_app_path, class: "btn btn-primary add-new" %>
		<div class="search-box">
			<%= form_tag('/apps', method:"get") do %>
			<span class="search-words">Search files by name:</span> <%= text_field_tag :search %>
			<%= submit_tag "Search", class: "btn btn-default search-button"  %>
			<% end %>
		</div><br><br>


		<% @apps.each do |app| %>
		<div class="index-info">
			<p class="index-words"><u class="index-label">File Name:</u> <%= app.file_name %></p>
			<p class="index-words"><u class="index-label">Description:</u> <%= app.description %></p>
			<%= link_to "File Details", app_path(app), class: "btn btn-success details-button"  %><br>
			<% end %>
		</div>

	</div>

</body>

