<h1><%= @app.file_name %></h1>
<p>Date Created: <%= @app.date_created %></p>
<p>Location: <%= @app.location %></p>
<p>Description: <%= @app.description %></p>
<p>Reference: <%= @app.reference %></p>
<p>This app was deployed by <%= @app.deploy.platform_used %> on <%= @app.deploy.deployment_date %> with the name of <%= @app.deploy.deployed_name %></p>
