<h1><%= @app.file_name %></h1>
<% if @app.date_created %>
<p>Date Created: <%= @app.date_created.strftime("%-m-%-d-%Y") if @app.date_created  %></p>
<% end %>
<% if @app.location %>
<p>Location: <%= @app.location %></p>
<% end %>
<% if @app.description !="" %>
<p>Description: <%= @app.description %></p>
<% end %>
<% if @app.reference !="" %>
<p>Reference: <%= @app.reference %></p>
<% end %>
<% if @app.deploy.platform_used !="" %> 
<p>Deployment Platform: <%= @app.deploy.platform_used %></p> 
<% end %>
 <% if @app.deploy.deployment_date %>
<p>Deployed on: <%= @app.deploy.deployment_date %></p> 
<% end %>
<% if @app.deploy.deployed_name !="" %>
<p>Deployed App Name: <%= @app.deploy.deployed_name %></p><br>
<% end %>
<%= link_to "Edit this file", edit_app_path %>

 <%= link_to "Delete this file", :app, method: :delete, data: {confirm: "Are you sure you want to delete this file information?"} %>
 <%= link_to "Back to App List", apps_path %>

