<!DOCTYPE html>
<html>
<head>
  <title>FileTrackerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<button type="button" class="btn btn-default loggin-btn">
<% if current_user %>
	<%= "Logged in as " + current_user.name + ' | ' %><%= link_to 'Logout', logout_path %>

	<% else %>
	<%= link_to 'Login', login_path %> | <%= link_to 'Sign Up', signup_path %>
	<% end %>
	</button>
 </div><br>
<%= yield %>


</body>
</html>
